/* Bit tablets to 1200px: 1024px to 1200px */
/* Website max width is 1140px row with some margin */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        /* no matter the width, text displayed will remain displayed at all times */
        width: 100%;
        /* creates some "margin" */
        padding: 0 2%;
    }

    .row {padding: 0 2%;}
}

/* Small tablets to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    /* all font sizes will adjust since the body is the parent */
    body {font-size: 18px;}
    /* overriding original 80px down to 60 px */
    section {padding: 60px 0;}

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
}

/* Small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {

}

/* Small phones: 0 to 480px */
@media only screen and (max-width: 480px) {

}