/* Bit tablets to 1200px: 1024px to 1200px */
/* Website max width is 1140px row with some margin */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        /* no matter the width, text displayed will remain displayed at all times */
        width: 100%;
        /* creates some "margin" */
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}

/* Small tablets to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    /* all font sizes will adjust since the body is the parent */
    body {
        font-size: 18px;
    }

    /* overriding original 80px down to 60 px */
    section {
        padding: 60px 0;
    }
    /* Section Features */
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    /* Section Steps */
    .steps-box {
        margin-top: 10px;
    }

    .steps-box:last-child {
        margin-top: 10px;
    }

    .works-step {
        margin-bottom: 40px;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    .app-screen {
        width: 50%;
    }

    /* Section Cities */
    .icon-small {
        width: 17px;
        margin-top: 5px;
    }

    .city-feature {
        font-size: 90%;
    }

    /* Section Plans */
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    /* Section Form */
    .contact-form {
        width: 80%;
    }

    .app-store {
        margin-left: 25px;
    }

    .works-step {
        margin-bottom: 20px;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;

    }
}

/* Small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col {
        /* stacking columns */
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav {
        display: none;
    }

    h1 {
        font-size: 180%;
    }

    h1 {
        font-size: 150%;
    }

    .long-copy {
        width: 100%;
        margin-left: 0;
    }

    .app-screen {
        width: 40%;
    }

    .top {
        margin-top: 0;
    }

    .works-img:first-child {
        text-align: center;
    }

    .works-step div {
        border: 2px solid #e67e22;
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .works-step {
        margin-bottom: 20px;
        text-align: left;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;
    }

    .plan-box {
        -webkit-box-shadow: 1px 2px 3px #000000;
        box-shadow: 1px 2px 3px #000000;
    }
}

/* Small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%
    }
}